@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo! Clique aqui</h1>
</div>

<div class="row text-center">
    <div class="col-12">
        <p id="h4"><h4>Estudo de JavasCript e Jquery</h4></p>


    </div>
</div>


<div class="row ">
    <div class="col-12">

        <ul text-center class="ul1">
            <li>primeiro</li>
            <li>segundo</li>
            <li>terceiro</li>
            <li id="li4">quarto</li>
        </ul>

    </div>
</div>

<div class="form-row text-center">
    <div class="col-12">
        <button type="button" class="btn btn-primary" id="botao">Botão para teste com Javascript, oculta os parágrafos</button>
    </div>
    <div class="col-12">
        <p id="texto"> Aqui esta o texto</p>
    </div>
</div>


<div class="row text-center">
    <div class="col-12">
        <p id="segundaLinha"> segunda Div</p>
    </div>
</div>



<div class="row text-center">
    <div class="col-12">
        <input type="text" id="inpt">
        <p>Código do teclado = </p>
        <p id="teclacapturada"></p>

        <a><p id="limparTeclado"> Limpar </p></a>
    </div>
</div>

